<div style="background-color: white;">
    <button >Share</button>
  <img src="https://media.istockphoto.com/id/1337232523/photo/high-angle-view-of-a-lake-and-forest.webp?b=1&s=612x612&w=0&k=20&c=ONfRBrp00hOvHvA1_gJxompbAZj9adJjShikxUK-UkI=" alt="Img">
    <canvas #screenshotCanvas ></canvas>
  
    <form #emailForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="recipientEmail">Recipient's Email:</label>
        <input type="email" id="recipientEmail" [(ngModel)]="recipientEmail" name="recipientEmail" required>
      </div>
  
      <div class="form-group">
        <label for="subject">Subject:</label>
        <input type="text" id="subject" [(ngModel)]="subject" name="subject" required>
      </div>
  
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" [(ngModel)]="message" name="message" required></textarea>
      </div>
  
      <button type="submit">Send Email</button>
    </form>
  </div>
  